@charset "UTF-8";
*{
    font-family: sans-serif;
    /* height: 100% */
}

body{
    background-image: linear-gradient(to right, #41BFB3, #2A8C82);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #27010159;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{color: #260101;
    text-align: center;
    text-shadow: 1px 1px 0px #32140450;

}


h2{color: #260101;

}
p{
    text-align: justify;
}